.footer {
  background: linear-gradient(rgb(71, 71, 71), rgb(156, 156, 156));
  width: 100%;
  height: 170px;
}
.footer-main {
  padding: 20px 150px;
  position: relative;
  overflow: hidden;
}

.upper-footer {
  color: white;
  text-align: center;
}
.footer-to-top-btn {
  padding: 2px 5px;
  z-index: 0;
  position: absolute;
  top: 0;
}
.footer-to-top {
  text-decoration: none;
}

.upper-footer-line {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-email {
  margin-bottom: 10px;
  font-size: 16px;
}

hr {
  margin-bottom: 10px;
}

.lower-footer {
  color: white;
  display: flex;
  justify-content: space-between;
}

.lower-footer-content {
  display: flex;
}
.copyright-symbol {
  padding-top: 3px;
  font-size: 10px;
}
.lower-footer-line {
  font-size: 14px;
}

.x-svg,
.instagram-svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 680px) {
  .footer {
    height: auto;
  }

  .upper-footer-line {
    font-size: 25px;
  }

  .footer-email {
    font-size: 12px;
  }

  .copyright-symbol {
    font-size: 8px;
    padding-top: 1px;
  }
  .lower-footer-line {
    font-size: 10px;
  }

  .x-svg,
  .instagram-svg {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .upper-footer-line {
    font-size: 18px;
  }

  .footer-email {
    font-size: 10px;
  }

  .copyright-symbol {
    font-size: 7px;
    padding-top: 1px;
  }

  .lower-footer {
    flex-direction: column;
  }

  .lower-footer-line {
    font-size: 8px;
  }
  .lower-footer-content {
    justify-content: center;
  }
  .svg-images {
    text-align: center;
  }

  .x-svg,
  .instagram-svg {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 440px) {
  .upper-footer-line {
    display: none;
  }

  .footer-email {
    display: none;
  }
  hr {
    display: none;
  }
  .copyright-symbol {
    font-size: 5px;
    padding-top: 1px;
  }

  .lower-footer-line {
    font-size: 6px;
  }

  .x-svg,
  .instagram-svg {
    width: 10px;
    height: 10px;
  }

  .footer-to-top-btn {
    padding: 0px 1px;
    height: 17px;
  }
}
