.footer {
  background: linear-gradient(rgb(71, 71, 71), rgb(156, 156, 156));
  width: 100%;
  height: 170px;
}
.footer-main {
  padding: 20px 150px;
}

.upper-footer {
  color: white;
  text-align: center;
}

.upper-footer-line {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-email {
  margin-bottom: 10px;
  font-size: 16px;
}
hr {
  margin-bottom: 10px;
}

.lower-footer {
  color: white;
  display: flex;
  justify-content: space-between;
}
.lower-footer-content {
  display: flex;
}
.copyright-symbol {
  padding-top: 3px;
  font-size: 10px;
}
.lower-footer-line {
  font-size: 14px;
}
.x-svg,
.instagram-svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
