.projects {
  width: 100%;
}

.first-project-div {
  background-color: rgb(199, 229, 222);
}

.second-project-div {
  background-color: rgb(235, 211, 215);
}

.third-project-div {
  background-color: rgb(255, 246, 212);
}

.second-project-div,
.third-project-div,
.first-project-div {
  width: 75%;
  padding: 60px 40px;
  margin: 70px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}

.project-main-content {
  width: 90%;
}
.project-heading {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 10px;
}
.project-description {
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 18px;
  margin-bottom: 10px;
}
.project-demo-btn {
  font-size: 10px;
  background-color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 50px;
  margin-bottom: 36px;
  cursor: pointer;
}
.project-demo-btn a {
  text-decoration: none;
  color: white;
}

.project-aside {
  display: flex;
}
.aside-heading {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
.aside-description {
  font-size: 10px;
  color: rgb(102, 102, 102);
}
.project-type {
  margin-left: 20px;
}

.project-image {
  width: 350px;
  height: 220px;
}

/* media query */

@media screen and (max-width: 1500px) {
  .second-project-div,
  .third-project-div,
  .first-project-div {
    flex-direction: column;
  }

  .project-main-content {
    width: 100%;
  }

  .project-aside {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 855px) {
  .project-aside {
    flex-direction: column;
  }

  .project-type {
    margin-left: 0;
    margin-top: 10px;
  }

  .project-image {
    width: 300px;
    height: 190px;
  }
}

@media screen and (max-width: 600px) {
  .project-image {
    width: 250px;
    height: 170px;
  }
}

@media screen and (max-width: 450px) {
  .project-image {
    width: 150px;
    height: 100px;
  }
}
